* {
  border-size: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  /* padding: .6em 0;
  margin: 0 15px; */
}

ul, ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0;
}

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em;
}

body #content {
  margin: 0 20px;
}

.search__form--results {
  color: #fff;
}
.search__input {
  color: #333333;
}

.content__artist {
  width: 100%;
  overflow: hidden;
}
.content__artist__description {
  height: 250px;
  overflow: scroll;
}
.content__artist__song__item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.content__item__title {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
}
.content__item__name {
  text-align: center;
  color: #ffffff;
}
.content__item__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.content__item__link {
  color: #ffffff;
}
.content__item__artist-image {
  width: 100%;
}

/*# sourceMappingURL=small.css.map */
