// colors
$grayDark: #333333;
$white: #ffffff;


/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

/// @alias element
@mixin e($element) {
    @include element($element) {
        @content;
    }
}

/// @alias modifier
@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}

* {
    border-size: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    /* padding: .6em 0;
    margin: 0 15px; */
}

ul, ol {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.floatLeft {
    float: left;
    padding: .5em .5em .5em 0;
}

.floatRight {
    float: right;
    padding: .5em 0 .5em .5em;
}

body {
    header {
        .form {}
    }

    #content {
        margin: 0 20px;
    }
}

.search {
    @include e("form") {
        @include m("results") {
            color: #fff;
        }
    }


    @include e("input") {
        color: $grayDark;
    }
}

.content {
    @include e("artist") {

        width: 100%;
        overflow: hidden;

        @include e("image") {}


        @include e("name") {
        }


        @include e("description") {
            height: 250px;
            overflow: scroll;
        }

        @include e("song") {

            @include e("item") {
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
            }

        }

    }
    @include e("item") {

        @include e("title") {
            z-index: 1000;
            background: rgba(0, 0, 0, 0.2);
        }

        @include e("name") {
            text-align: center;
            color: $white;
        }

        @include e("image") {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        @include e("link") {
            color: $white;
        }
        @include e("artist-image") {
            width: 100%;
        }
    }
}
