<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Last.fm API Sample</title>
		<meta name="description" content="Last.fm API Sample">
		<meta name="author" content="Byron H.">
		<link rel="stylesheet" href="js/lib/mdl/material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
        <link rel="stylesheet" href="css/small.css?v=1.0">
		<link rel="stylesheet" href="css/medium.css?v=1.0">
		<link rel="stylesheet" href="css/large.css?v=1.0">
	</head>

	<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		 <header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Discover Artists</span>
		 	</div>
		</header>


		<div class="mdl-layout__content">
        <div class="mdl-grid search">
	        <div class="search__content">
	        <form id="form" class="search__form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input search__input" type="text" id="search" name="s" />
                    <label class="mdl-textfield__label" for="sample1">Artist Name</label>
                </div>
    			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button__colored">
				<i class="material-icons">search</i>
			</button>
	        </form>
	        </div>
        </div>
		<div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color"></div>
		<div id="content">
			<h2>Discover Artist</h2>
			<p>Search your favorite artist, and discover similar artists </p>

		</div>

   </div>
   </div>

		<script id="artistTemplateOld" type="text/template">
			<div class="image"><img src="<%= image[2]['#text'] %>"></div>
			<h2><%= name %></h2>
			<div class="description"><%= bio.summary %></div>
		</script>
		<script id="artistsTemplateOld" type="text/template">
			<div class="image"><img src="<%= image[2]['#text'] %>"></div>
			<h3><a href="#" class="link"><%= name %></a></h3>
		</script>

		<script id="artistTemplate" type="text/x-handlebars">
			{{#with item}}
				<div class="mdl-card mdl-shadow--2dp mdl-grid content__artist">
					<div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--2-col-phone">
					<h2 class="content__artist__name">{{name}}</h2>
					{{#with image.[2]}}
					<img class="content__artist__image" src="{{'#text'}}">
					{{/with}}
					</div>
					<div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-cell--2-col-phone">
					<div class="content__artist__description">{{{bio.summary}}}</div>
					</div>
				</div>
			{{/with}}
			<div class="content__artist__songs"></div>
		</script>
		<script id="songsTemplate" type="text/x-handlebars">
			<div class="mdl-grid">
				<ul>
			{{#each entries}}
				<li class="content__artist__song__item">
					<audio controls>
					<source src="{{preview}}" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio>
					<h4>{{title}}</h4>
				</li>
		    {{/each}}
				</ul>
		    </div>
		</script>
		</script>

		<script id="artistsTemplate" type="text/x-handlebars">
			<div class="mdl-grid">
			{{#each entries}}
				<div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--2-col-phone content__item mdl-card mdl-shadow--2dp">
					<div class="content__item__image">
						<a href="#/artist/{{name}}">
						<picture>
					{{#with image.[3]}}
					    <source srcset="{{'#text'}}" media="(max-width: 40em) and (orientation: landscape)">
					    <source srcset="{{'#text'}}" media="(max-width: 40em) and (orientation: portrait)">
					{{/with}}
					{{#with image.[2]}}
					    <source srcset="{{'#text'}}" media="(min-width: 40em) and (orientation: landscape)">
					    <source srcset="{{'#text'}}" media="(min-width: 40em) and (orientation: portrait)">
					{{/with}}
					{{#with image.[3]}}
						<img class="content__item__artist-image" srcset="{{'#text'}}">
					{{/with}}
						</picture>
						</a>
					</div>
					<div class="mdl-card__title mdl-card--expand"></div>
					<div class="content__item__title">
						<h3 class="mdl-card__actions content__item__name"><a href="#/artist/{{name}}" class="content__item__link">{{name}}</a></h3>
					</div>
				</div>
		    {{/each}}
		    </div>
		</script>

		<script src="js/lib/mdl/material.min.js"></script>

		<script src="js/lib/jquery-1.11.3.min.js?v=1.11.3"></script>
		<script src="js/lib/underscore-min.js?v=1.8.3"></script>
		<script src="js/lib/backbone-min.js?v="></script>
		<script src="js/lib/handlebars-v3.0.3.js?v=3.0.3"></script>

        <!__ Models __>
        <script src="js/model/artist.js?v=0.0"></script>
        <script src="js/model/song.js?v=0.0"></script>
        <!__ Collections __>
        <script src="js/collection/artistCollection.js"></script>
        <script src="js/collection/songCollection.js"></script>
        <!__ Views __>
        <script src="js/view/artistsView.js"></script>
        <script src="js/view/artistView.js"></script>
        <script src="js/view/songsView.js"></script>
        <script src="js/view/appView.js"></script>
        <script src="js/view/formView.js"></script>
        <!__ Routes __>
        <script src="js/router/appRouter.js"></script>
        
		<script src="js/app.js?v="></script>

	</body>
</html>